{% extends "common/base.html" %}


{% block container %}
    <div class="container">
 
      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>{{ idea.idea_title }}</h1>
            {{ form.non_field_errors }}
            <form action="" method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary" name="save">Save</button>
            </form>
            <form action="" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary" name="delete">Delete</button>
            </form>
            
            <!--p>Ideas and dreams. Comes out to you from nowhere. And sometimes they flow away with
            the same way. Keep your ideas save fly with them and find collaborators.</p-->
          </div>
        </div><!--/.col-xs-12.col-sm-9-->
      </div><!--/row-->
      <hr>
    </div><!--/.container-->
{% endblock %}
