{% extends "common/base.html" %}


{% block container %}
    <div class="container">
 
      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>Beautiful Ideas</h1>
            {{ form.non_field_errors }}
            <form action="" method="post">
              {% csrf_token %}
              <div class="input-group" id="{{ form.title.id_for_label }}">
                <span class="input-group-addon" id="basic-addon1">Title      </span>
                {{ form.idea_title }}
              </div>
              <div class="input-group" id="{{ form.title.id_for_label }}">
                <span class="input-group-addon" id="basic-addon1">Description</span>
                {{ form.idea_text }}
              </div>
              <div class="input-group" id="{{ form.title.id_for_label }}">
                <span class="input-group-addon" id="basic-addon1">Group       </span>
                {{ form.group }}
              </div>
              <div class="input-group" id="{{ form.title.id_for_label }}">
                <span class="input-group-addon" id="basic-addon1">Repo        </span>
                {{ form.idea_repo }}
              </div>
              </br>
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
            <!--p>Ideas and dreams. Comes out to you from nowhere. And sometimes they flow away with
            the same way. Keep your ideas save fly with them and find collaborators.</p-->
          </div>
          <div class="row">
            {% if latest_ideas_list %}
    
            {% for idea in latest_ideas_list %}
            <div class="col-xs-6 col-lg-4">
              <h2>{{ idea.idea_title }}</h2>
              <p>{{ idea.idea_text }} </p>
              <p><a href="{% url 'ideas:groupview' idea.group.category_text %}">{{ idea.group }}</a></p>
        <p>       <!--button type="button" class="btn btn-primary btn-lg" data-toggle="modal" href="{% url 'ideas:detailmini' idea.id %}" data-target="#exampleModalCenter"> 
                View Details...
              </button> </p-->

              <p><a class="btn btn-default" href="{% url 'ideas:detailmini' idea.id %}" role="button" data-toggle="modal" data-target="#exampleModalCenter" data-remote="false" data-link="{% url 'ideas:detailmini' idea.id %}">View details »</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            {% endfor %}
            {% else %}
            <p>No polls are available.</p>
            {% endif %}

     <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Idea Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

          </div><!--/row-->
          
        </div><!--/.col-xs-12.col-sm-9-->

        {% block sidebar %}
        {% include "common/sidebar.html" %}{% endblock %}
      </div><!--/row-->
      <hr>
      
    </div><!--/.container-->
{% endblock %}
